{% extends "base.html" %}
{% block content %}
    {% load static %}
    {% get_media_prefix as media_prefix %}
    <header id="header-wrap">
        <nav id="top" class="navbar navbar-expand-md background-primary fixed-top scrolling-navbar">
            <div class="container">
                <a href="#intro" class="navbar-brand"><img src="{% static 'img/calabouco_logo.png' %}" alt=""></a>       
                <button class="navbar-toggler toggler-colors" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars toggler-icon"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto w-100 justify-content-end clearfix">
                        {% if stills %}<li class="nav-item"><a class="nav-link" href="#portfolio">Trabalhos</a></li>{% endif %}
                        <li class="nav-item"><a class="nav-link" href="#blog">Blog</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Contato</a></li>
                    </ul>
                </div>
            </div>
            </nav>
    </header>
    
    <!-- Portfolio Section Start -->
    {% if stills %}
        <section id="portfolio" class="section-padding mt-3">
            <div class="container-fluid">
                <div class="row">
                    {% for s in stills %}
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 my-3 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="portfolio-item">
                                <img class="img-fluid thumbnail" src="{{ s.thumbnail }}" alt="{{ s.name }}">
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
    <!-- Portfolio Section End -->

    <div class="container section-line"></div>

    <!-- Blog Section start -->
    <section class="section-padding background-primary" id="blog">
        <div class="container">
            <div class="section-header text-center">
                <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Criamos Conteúdo</h2>
                <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
            </div>
            <div class="row">
                <div class="col-auto mx-auto my-3">
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FCalaboucoFilmes%2F&tabs=timeline%2C%20events%2C%20messages&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=578894232574713" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                </div>
                <div class="col-auto mx-auto mt-3">
                    <!-- SnapWidget -->
                    <iframe src="https://snapwidget.com/embed/679965" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
                </div>
                <div class="col-auto mx-auto my-3">
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FPausaProCafeTV%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=578894232574713" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section End -->

    <div class="container section-line"></div>

    <!-- Clients Section start -->
    {% if clients %}
    <section class="section-padding" id="clients">
        <div class="container">
            <div class="section-header text-center">
                <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Nossos Clientes</h2>
                <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
            </div>
            <div class="row justify-content-center">
                {% for c in clients %}
                    <div class="col-auto text-center my-3 wow fadeInUp" data-wow-delay="0.3s">
                        <img class="img" src="{{ media_prefix }}{{ c.logo }}" alt="{{ c.name }}">
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endif %}
    <!-- Clients Section End -->

    <div class="container section-line"></div>

    <!-- Contact Section start -->
    <section class="section-padding background-primary" id="contact">
        <div class="container">
            <div class="section-header text-center">
                <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Realizamos Seu Projeto</h2>
                <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
            </div>
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12 my-3 wow fadeInLeft contact-container" data-wow-delay="0.3s">
                        <form action="{% url 'home' %}" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form.name }}
                                </div>
                                <div class="col-md-6">
                                    {{ form.phone }}
                                </div>
                                <div class="col-md-12">
                                    {{ form.email }}
                                </div>
                                <div class="col-md-12">
                                    {{ form.message }}
                                    <button class="btn btn-common mb-3">Enviar</button><br>
                                    {% if form.errors %}
                                        {% for error, value in form.errors.items %}
                                            <span style="color:red;" class="mb-3"><span style="text-transform:capitalize;">{{ error }}</span>: {{ value.as_text }}</span><br>
                                        {% endfor %}
                                    {% endif %}
                                    {% if messages %}
                                        {% for message in messages %}
                                            <span class="mb-3">{{ message }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                </div>
                <div class="col-lg-5 col-md-12 col-xs-12 my-3 wow fadeInRight" data-wow-delay="0.3s">
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3672.33071876782!2d-43.303241585032566!3d-23.01162618495853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9bd0c4b7577e29%3A0x857d700db81ec98c!2sAv.+Min.+Ivan+Lins%2C+480+-+Barra+da+Tijuca%2C+Rio+de+Janeiro+-+RJ%2C+22620-110!5e0!3m2!1spt-BR!2sbr!4v1554234211011!5m2!1spt-BR!2sbr" frameborder="0" style="border:0; height: 280px; width: 100%;" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->

    <!-- Preloader -->
    <div id="preloader">
        <div class="loader" id="loader-1"></div>
    </div>
{% endblock %}